.quiz-container{

max-width:900px;

margin:50px auto;

padding:30px;

}

.quiz-container h1{

text-align:center;

margin-bottom:30px;

}

.quiz-top{

display:flex;

justify-content:space-between;

margin-bottom:20px;

font-size:22px;

}

.progress{

width:100%;

height:12px;

background:#222;

border-radius:10px;

overflow:hidden;

margin-bottom:30px;

}

#progressBar{

width:0%;

height:100%;

background:#00e5ff;

transition:.4s;

}

.question-box{

background:#111827;

padding:30px;

border-radius:15px;

}

.question-box h2{

margin-bottom:25px;

}

.answer{

display:block;

width:100%;

padding:15px;

margin:12px 0;

background:#1f2937;

border:none;

border-radius:10px;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s ease;

}

.answer:hover{

background:#00e5ff;

color:black;

}

#nextBtn{

margin-top:30px;

padding:15px 40px;

border:none;

background:#00e5ff;

font-size:18px;

font-weight:bold;

border-radius:10px;

cursor:pointer;

}

#explanation{

margin-top:20px;

padding:20px;

background:#1f2937;

border-left:5px solid #00e5ff;

border-radius:10px;

display:none;

line-height:28px;

}

#nextBtn:hover{

background:#00bcd4;

transform:translateY(-2px);

box-shadow:0 0 12px #00e5ff;

}

@media(max-width:768px){

.quiz-top{

flex-direction:column;

gap:15px;

text-align:center;

}

.quiz-container{

padding:20px;

}

.question-box{

padding:20px;

}

.answer{

font-size:16px;

}

}

.answer:disabled{

opacity:.8;

cursor:not-allowed;

}

a:focus,
button:focus{
    outline:2px solid #00e5ff;
    outline-offset:4px;
}